/***********************************/
/*HEADER & NAVIGATION*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
  overflow-x: hidden;

  height: 9.6rem;
  transition: all 0.3s ease-in-out;
}

.header-nav {
  overflow-x: hidden;
}

.logo {
  max-height: 2.2rem;
  max-width: auto;
}

/***********************************/
/*Sticky nav bar*/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/***********************************/
/*MAIN NAV SECTION*/

.main-navigation-list {
  display: flex;
  gap: 4.8rem;
  align-items: center;

  list-style: none;
  overflow: hidden;
}

.main-navigation-link:link,
.main-navigation-link:visited {
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.main-navigation-link:hover,
.main-navigation-link:active {
  color: #cf711f;
}

.main-navigation-link.nav-cta:link,
.main-navigation-link.nav-cta:visited {
  color: #fff;
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
  display: inline-block;
}

.main-navigation-link.nav-cta:hover,
.main-navigation-link.nav-cta:active {
  background-color: #cf711f;
}

/***********************************/
/*MOBILE NAV SECTION*/

.mobile-nav-btn {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
  z-index: 999;
}

.mobile-nav-btn ion-icon {
  width: 4.8rem;
  height: 4.8rem;
}

.mobile-nav-btn [name="close-outline"] {
  display: none;
}

/***********************************/
/*HERO SECTION*/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 9.6rem;

  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}

.hero-img {
  /*max-*/
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: #fdf2e9 0.3rem solid;
}
.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;

  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/***********************************/
/*FEATURED-IN SECTION*/

.section-featured {
  padding: 4.8rem 0 3.2rem;
}

.featured-title {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/***********************************/
/*HOW IT WORKS SECTION*/

.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
  align-self: center;
}

.step-number {
  color: #ddd;
  font-weight: 600;
  font-size: 8.6rem;
  margin-bottom: 1.2rem;
}

.step-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  justify-content: center;

  position: relative;
}
.step-img-box::after {
  content: "  ";
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
}

.step-img-box::before {
  content: "  ";
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
}

.step-img {
  width: 35%;
  z-index: 3;
}

/***********************************/
/*MEALS SECTION*/

.meals-title {
  text-align: center;
}

.section-meals {
  padding: 9.6rem 0;
}

.meal-img {
  max-width: 100%;
}

.meal {
  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: 0.4s;
}

.meal:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-text-wrap {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #51cf66;
  border-radius: 100px;
  font-weight: 600;

  display: inline-block;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag-container {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag-container .tag:nth-child(2) {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.meal-attribute ion-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.diets-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.list-item ion-icon {
  font-size: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/***********************************/
/*TESTIMONIALS + GALLERY SECTION*/

.testimonials-section {
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/***********************************/
/*PRICING SECTION*/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-meal {
  border-radius: 1.1rem;
  width: 75%;
}

.starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.complete {
  border: none;
  background-color: #fdf2e9;
  position: relative;
  padding: 4.8rem;
  justify-self: start;

  position: relative;
  overflow: hidden;
}

.complete::before {
  content: "best value";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;

  top: 6%;
  right: -18%;
  position: absolute;
  transform: rotate(45deg);
}

.pricing-title {
  font-size: 2rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.pricing-number {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.pricing-number span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.pricing-text {
  font-size: 1.6rem;
  line-height: 2rem;
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.pricing-little-text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon ion-icon {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  color: #e67e22;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/***********************************/
/*CTA SECTION*/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;

  background-color: #e67e22;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-text-box .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input {
  color: inherit;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 11px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}
.cta-form button {
  cursor: pointer;
  border: none;
  color: #fdf2e9;
  background-color: #45260a;
  font-family: inherit;
  align-self: end;
  padding: 1.2rem;
  transition: all 0.3s;
}

.cta-form button:hover {
  background-color: #fff;
  color: #555;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/***********************************/
/*FOOTER SECTION*/

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
  padding: 12.8rem 0 4.8rem;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.social-logo {
  font-size: 3rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;

  transition: all 0.2s;
}

.footer-link:hover,
.footer-link:active {
  text-decoration: none;
  font-size: 1.6rem;
  color: #555;
}

.footer-link ion-icon {
  font-size: 2.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

/***********************************/
/*NOTE*/

.footer-note {
  margin: 0 auto;
  max-width: 100rem;
  padding: 10rem 3.2rem 0 3.2rem;

  text-align: center;

  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.4;
}
